.friends {
  color: #fff;
}

.friends h3 {
  margin-bottom: 0;
  padding: 0 25px;
}

.friends_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 25px;
  list-style: none;
}

.friends_list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 15px;
}

.friends_list li img {
  max-width: 50px;
  margin-bottom: 5px;
  border-radius: 50%;
}